// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Custom colors
$isabelline: #F6EFEE;
$rich-black: #07393C;
$mint-cream: #F2F7F2;
$russian-grey:#6B8F71;
$old-picture: #FFF9E3;

$paintings-bg: $mint-cream;
$paintings-contrast: $rich-black;
$buttons:$russian-grey;

$profile-bg: $old-picture;
