// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: inherit;

  &:hover {
    color:inherit;
    text-decoration: none;
  }
}
body {
  background-color: $paintings-bg;
  --painting-height: 300px;
  transition: background-color 0.5s ease-out;
}

.profile-bg {
  background-color: $profile-bg;
}

h1 {
  height: 300px;
}

p {
  margin: 0;
  padding: 0;
}

.category {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.title {
  width: fit-content;
  position: relative;
  transition: width 0.25s ease-out;

  &:after {
    content: '';
    width: 0%;
    border-bottom: 2px solid black;
    position: absolute;
    bottom: -3px;
    right: -3px;
    transition: width 0.25s ease-out;
  }

  // &:hover:after {
  //   content: '';
  //   width: 60%;
  //   border-bottom: 2px solid black;
  //   position: absolute;
  //   bottom: -3px;
  //   right: -3px;
  //   transition: width 0.25s ease-out;
  // }

}

.active-title:after {
  content: '';
  width: 60%;
  border-bottom: 2px solid black;
  position: absolute;
  bottom: -3px;
  right: -3px;
  transition: width 0.25s ease-out;
}

.profile {
  position:relative;

  h1 {
    font-size: 64px;
    position:absolute;
    top: 125px;
    left: 12%;
    z-index:1;
  }
  img {
    position:absolute;
    height:340px;
    top: 56px;
    right: 8%;
  }

  p {
    width: 380px;
    position:absolute;
    text-align: justify;
    top: 300px;
    left: 7%;
  }

  a {
    background-color: #8D5B4C;
    color: white;
    position: absolute;
    top: 451px;
    right: 21%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}
