// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: $paintings-bg;
  --painting-height: 300px;
  font-weight:200px;
}

p {
  margin: 0;
  padding: 0;
}

.category {
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
  width: fit-content;
  margin-bottom: 1rem;

  &:after {
    content: '';
    width: 60%;
    border-bottom: 2px solid black;
    position: absolute;
    bottom: -3px;
    right: -3px;
  }
}
