<div class="paintings">

  <div class="menu">
    <%= link_to "Ajouter", "#paintingModal", "data-toggle" => "modal", id: "add-btn" %>
  </div>

  <% @themes.each do |theme|  %>
    <% next if theme.paintings.empty? %>

    <div class="container">
      <h4 class="category title">
        <%= theme.name %>
      </h4>
      <div class="">
        <% theme.paintings.each do |painting| %>
          <%= cl_image_tag painting.photo.key, class: "square-painting", "data-index" => painting.id %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<%= render 'shared/modal_painting' %>

<% if @add_error %>
  <div class="error"></div>
<% end %>
