
<div class="navbar navbar-kty">
  <a class="section-title title active-title" data-menu="paintings">
    Tableaux
  </a>
  <a class="section-title title" data-menu="profile">
    L'Artiste
  </a>
</div>
