.card-painting{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
  cursor: pointer;

  p {
    font-size: 14px;
  }
  &:hover .framed-painting {
    filter: saturate(0.3);
    transform: scale(0.98);
  }
}

.framed-painting {
  border: 3px solid $paintings-contrast;
  padding: 5px;
  height: 200px;
  background-color: #F3F3F3;
  transition: height 0.4s cubic-bezier(0.4, 0, 0, 1) 0s,
    filter 0.2s cubic-bezier(0.4, 0, 0, 1) 0s,
    transform 0.2s cubic-bezier(0.4, 0, 0, 1) 0s;
}

.square-painting {
  height: 200px;
  width:200px;
  object-fit:cover;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1) 0s;
  margin: 0.2rem;
  cursor: pointer;
}

.selected {
  filter: brightness(50%);
  transform: scale(.9);
}
