.navbar-kty {
  background-color: $darker-paintings-bg;
  justify-content: space-around;
  padding: 1rem 0;

  a {
    font-family: 'Calligraffitti';
    font-size: 1.5rem;
  }
}

.navbar-kty .navbar-collapse {
  flex-grow: 0;
}
