.slider {
  position: relative;
  margin-bottom: 1.2rem;

  .slider-cards {
    display: flex;
    overflow-x: scroll;

  }

  .arrow {
    position: absolute;
    color: $buttons;
    background-color: white;
    border-radius: 50%;
    right: 0;
    top: 50%;
    transform: translateY( -50%);
    font-size: 2rem;
  }

}

