.theme {
  padding: 1rem 0;

  &:nth-of-type(even) {
    background-color: $darker-paintings-bg;
  }
}

.slider {
  position: relative;

  .slider-cards {
    display: flex;
    overflow-x: scroll;

  }

  .arrow {
    position: absolute;
    color: black;
    background-color: $contrast;
    border-radius: 50%;
    right: 0;
    top: 100px;
    transform: translate(20%, -50%);
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: $contrast;
      background-color: white;
    }
  }

}

